@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IList<CartViewModel>
@if (SignInManager.IsSignedIn(User))
{
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-6 col-11 mx-auto">
                <p class="fw-bold fs-4 px-3">Purchasing & Shipping</p>
                <form action="#" class="p-3 shadow-sm">
                    <div class="mb-3">
                        <label for="formGroupExampleInput"
                               class="form-label fw-bold labelFontSize">Full Name (FirstName and LastName)</label>
                        <input type="text"
                               class="form-control border border-3 border-secondary"
                               id="formGroupExampleInput"
                               placeholder="Enter Your Full Name" />
                    </div>
                    <div class="mb-3 d-flex">
                        <p class="fw-bold labelFontSize d-inline me-3 my-auto">
                            Delivery To:
                        </p>
                        <div class="d-flex">
                            <div class="form-check">
                                <input class="form-check-input border-2 border-secondary"
                                       type="radio"
                                       name="flexRadioDefault"
                                       id="Yangon" />
                                <label class="form-check-label" for="Yangon"> Yangon </label>
                            </div>
                            <div class="form-check ms-3">
                                <input class="form-check-input border-2 border-secondary"
                                       type="radio"
                                       name="flexRadioDefault"
                                       id="Other" />
                                <label class="form-check-label" for="Other">
                                    Other States
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-none" id="YangonTownship">
                        <label class="form-label fw-bold labelFontSize"
                               for="specificSizeSelect">Township</label>
                        <select class="form-select w-100 border border-3 border-secondary"
                                id="specificSizeSelect">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3 d-none" id="YangonDetailAddress">
                        <label for="formGroupExampleInput"
                               class="form-label fw-bold labelFontSize">Detail Address (Street/ Building / RoomNo)</label>
                        <textarea class="form-control border border-3 border-secondary"
                                  id="formGroupExampleInput">
                      </textarea>
                    </div>
                    <div class="mb-3 d-none" id="OtherDetailAddress">
                        <label for="formGroupExampleInput"
                               class="form-label fw-bold labelFontSize">Detail Address (Region/ Township/ Street/ Building/ RoomNo)</label>
                        <textarea class="form-control border border-3 border-secondary"
                                  id="formGroupExampleInput">
                      </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput"
                               class="form-label fw-bold labelFontSize">Phone</label>
                        <input type="text"
                               class="form-control border border-3 border-secondary"
                               id="formGroupExampleInput"
                               placeholder="Your Phone Number" />
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput"
                               class="form-label fw-bold labelFontSize">Email</label>
                        <input type="text"
                               class="form-control border border-3 border-secondary"
                               id="formGroupExampleInput"
                               placeholder="Your Email Address" />
                    </div>
                </form>
                <p class="fs-6 text-center fw-bold text-danger">
                    Your Personal Data will be used to proceed your order and shipping
                    process.
                </p>
            </div>
            <div class="col-lg-6 col-11 mx-auto">
                <p class="fw-bold fs-4 ps-lg-5 ps-2">Order Details</p>
                <form action="/shopproduct/makeorder" method="post">
                    <div class="col-lg-10 col-11 mx-auto p-3 border rounded">
                        <table class="table w-100">
                            <thead>
                                <tr class="border-bottom border-secondary">
                                    <td scope="col" class="fw-bold">Product</td>
                                    <td scope="col" class="text-end fw-bold">SubTotal</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 0;
                                    foreach (var item in Model)
                                    {

                                        <tr>
                                            <td scope="col">@item.ProductName (<span>@item.numberOfItem</span>)</td>
                                            <td scope="col" class="text-end" id="Price@(count)">@item.itemxPrice</td>
                                        </tr>
                                        count++;
                                    }
                                }


                                <tr>
                                    <td scope="col" class="fw-bold">Subtotal</td>
                                    <td scope="col" class="text-end fw-bold" id="SubTotal"></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="fw-bold">Delivery Fee</td>
                                    <td scope="col" class="text-end" id="DeliveryFee">1000</td>
                                </tr>
                                <tr>
                                    <td scope="col" class="fw-bold fs-5">Order Total</td>
                                    <td scope="col" class="text-end fs-5 fw-bold" id="OrderTotal"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Payment Methods-->
                    <p class="text-center mt-3">Choose Payment Methods</p>
                    <div class="row mx-auto paymentMethods"
                         id="choosePaymentMethods">
                        @foreach (var paymentType in ViewBag.PaymentTypes)
                        {
                            <div class="col-2 mt-3 d-flex justify-content-center" id="@paymentType.Id" data-bs-toggle="modal" data-bs-target="#QRCode">
                                <img src="@paymentType.PaymentTypeImage"
                                     class="w-50 border-warning border-2 rounded" id="@paymentType.PaymentTypeQR"
                                     alt="" />
                                <div class="col-2 mt-2 d-flex justify-align-center" id="@paymentType.Id" data-bs-toggle="modal" data-bs-target="#QRCode">
                                    <input type="radio" value="@paymentType.Id" name="PaymentType_Id" id="@paymentType.PaymentTypeQR" class="ms-2 paymentImg" />
                                </div>
                            </div>
                           
                        }


                    </div>
                    <hr />
                    <div class="d-none" id="AskSreeenShot">
                        <label for="" class="fw-bold mb-2">Upload Your Payment ScreenShot</label>
                        <input type="file" class="form-control">
                    </div>

                    <hr />
                    <div class="mb-3 form-check ms-5 mt-2">
                        <input type="checkbox" class="form-check-input" id="checked" />
                        <label class="form-check-label labelFontSize fw-bold">I haved read and agree the terms and policy</label>
                    </div>
                    <div class="col-10 mx-auto">
                        <button class="btn btn-warning w-100" id="OrderButton" disabled>
                            Make Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    
        <div class="modal fade" id="QRCode" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Scan the Following QR Code</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center p-3">
                            <img alt="" class="w-50" id="QRImage"/>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    
    

}else{
    <script>
        window.location.href = '/Identity/Account/Login';
    </script>
}
<script>
    //for checking the subtotal
    
        let TotalSub = 0;
        for (let i = 0; i < @Model.Count; i++) {
            TotalSub += parseFloat($("#Price" + i).html());
        }
       
        $("#SubTotal").html(TotalSub);
    var SubTotal = parseFloat($("#SubTotal").html());
    var DeliveryFee = parseFloat ($("#DeliveryFee").html());
   
    $("#OrderTotal").html(SubTotal+DeliveryFee)

    //for delivery check
    $("#Yangon").on("click", function () {
        $("#YangonTownship").removeClass("d-none");
        $("#YangonDetailAddress").removeClass("d-none");
        $("#OtherDetailAddress").addClass("d-none");
    });
    $("#Other").on("click", function () {
        $("#YangonTownship").addClass("d-none");
        $("#YangonDetailAddress").addClass("d-none");
        $("#OtherDetailAddress").removeClass("d-none");
    });

    //Bodering Payment types
    $("#choosePaymentMethods").on("click", ".paymentImg", function (event) {
        $("#AskSreeenShot").removeClass("d-none");
        $(".paymentImg").removeClass("border");
        var choosenPayment = $(event.target);
        choosenPayment.addClass("border");
    });
    //For QR Code
    $(".paymentImg").on('click', function (event) {
        let ImageUrl = event.target.id;
      
        $("#QRImage").attr("src", ImageUrl);
    })


    //terms and policy
    $("#checked").on("click", function () {
        $(this).toggleClass("hasAgree");
        if ($(this).hasClass("hasAgree")) {
            $("#OrderButton").removeAttr("disabled").attr("enabled", "enabled");
        } else {
            $("#OrderButton").removeAttr("enabled").attr("disabled", "disabled");
        }
    });
</script>