@model IList<ProductViewModel>
@{
    List<string> DescriptionKeys = ViewBag.DescriptionKey;
    List<string> DescriptionValues = ViewBag.DescriptionValue;
    List<ImageViewModel> RelatedImages = ViewBag.RelatedImages;
}
<div class="product-Bar position-sticky z-1">
    <div class="container-fluid py-2">
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            All Products
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
            @foreach (var product in ViewBag.AllProductList)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@product.Id">@product.Name</a></li>
            }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Smart Phones
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll" ">
        @foreach (var phone in ViewBag.Phones)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@phone.Id">@phone.Name</a></li>
        }

        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Laptops
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var laptop in ViewBag.Laptops)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@laptop.Id">@laptop.Name</a></li>
        }

        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Tablets
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var tablet in ViewBag.tablets)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@tablet.Id">@tablet.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none" data-bs-toggle="dropdown"
                aria-expanded="false">
            Other Accessories
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var OtherAccessory in @ViewBag.OtherAccessories)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@OtherAccessory.Id">@OtherAccessory.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent px-2 d-lg-none d-md-none d-inline"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars-staggered fs-4 text-primary"></i>
        </button>
        <button class="float-end btn btn-primary text-light btn-sm my-auto position-relative cart">
            <a class="nav-link active text-light fs-6 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-cart-shopping text-warning px-1"></i>
                Cart
                <span class="position-absolute top-0 end-50 translate-middle badge rounded-pill text-bg-secondary">  @TempData["count"]</span>
            </a>
        </button>
    </div>
</div>
<div class="offcanvas offcanvas-start bg-transparent border-0"
     id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="w-50 ChildOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
                Products
            </h5>
            <button type="button"
                    class="btn btn-transparent"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
                <i class="text-light fs-4 fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="offcanvas-body overflow-visible">
            <div class="w-100 dropend">
                <button type="button"
                        class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    All Products <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var product in ViewBag.AllProductList)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@product.Id">@product.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Smart Phones <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var phone in ViewBag.Phones)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@phone.Id">@phone.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Laptops <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var laptop in ViewBag.Laptops)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@laptop.Id">@laptop.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Tablets <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var tablet in ViewBag.tablets)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@tablet.Id">@tablet.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Other Accessories <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var OtherAccessory in @ViewBag.OtherAccessories)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@OtherAccessory.Id">@OtherAccessory.Name</a></li>
        }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <a href="/home/index" class="my-auto py-2 text-decoration-none text-dark"><i class="fa-solid fa-circle-arrow-left"></i> Back to Home Page</a>
    </div>
    <div class="row px-2">
        <div class="col-lg-5 selectProduct mb-2">
            <div class="col-7 mx-auto p-4">
                <img src="@ViewBag.Image.FrontImageUrl"
                     class="w-100 "
                     id="mainImg"
                     alt="" />
            </div>
            <hr class="mb-1" />
            <div class="row childSelectProduct py-2">
                <div class="col-3">
                    <div class="selectItem m-1">
                        <img src="@ViewBag.Image.FrontImageUrl" class="w-100" alt="" id="ImageName" />
                    </div>
                </div>

                <div class="col-3">
                    <div class="selectItem m-1">
                        <img src="@ViewBag.Image.BackImageUrl" class="w-100" alt="" />
                    </div>
                </div>

                <div class="col-3">
                    <div class="selectItem m-1">
                        <img src="@ViewBag.Image.RightSideImageUrl" class="w-100" alt="" />
                    </div>
                </div>

                <div class="col-3">
                    <div class="selectItem m-1">
                        <img src="@ViewBag.Image.LeftSideImageUrl" class="w-100" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 px-3">
            <h4 class="fontFamilies fw-bold" id="ProductName">@ViewBag.Product.Name</h4>
            <p class="text-justify fs-6">
                @DescriptionValues[DescriptionValues.Count-1]
            </p>
            <div class="d-flex mb-2 align-items-center">
                <input hidden value="@ViewBag.Product.UnitPrice" id="UnitPrice" />
                <span>Price:</span>
                <div class="text-primary fw-bold fs-5 ms-3">
                    @{
                        var UnitPrice = Math.Floor(ViewBag.Product.UnitPrice);
                    }
                    <p class="d-inline" id="TotalPrice">@UnitPrice</p>
                    Ks
                </div>
            </div>

            <span>Quantity : </span>

            <input type="hidden" value="@ViewBag.shopProduct.Id" id="shopProductId" />
            <input type="hidden" value="@ViewBag.ShopProduct.ShopName" id="ShopName" />
            <input id="StockCount" hidden value="@ViewBag.shopProduct.StockCount" />
            <div class="btn-group"
                 role="group"
                 aria-label="Basic outlined example">
                <button type="button"
                        class="btn btn-primary fs-5"
                        id="reduceButton">
                    -
                </button>
                <input type="button"
                       value="1"
                       class="px-3 btn border-primary"
                       id="numberOfItem" />
                <button type="button"
                        class="btn btn-primary fs-5"
                        id="increaseButton">
                    +
                </button>
            </div>
            <hr />
            <div class="d-flex mt-2 justify-content-around">
                <button type="button" class="btn btn-primary col-5 addtocart">
                    ADD TO CART
                </button>
                <button type="button" class="btn btn-warning text-light col-5 " id="BuyNow">
                    BUY NOW
                </button>
            </div>
        </div>
        <div class="col-lg-3 shadow p-2">
            <p class="fs-6 fw-bold">Delivery</p>
            <p>
                ရန်ကုန် မြို့တွင်းရှိ order များကို (၂) ရက် မှ (၃) ရက် အတွင်း၊
                အခြားမြို့များအတွက် order များကို order တင်ပီးနောက်ရက်တွင်
                သက်ဆိုင်ရာကားဂိတ်အရောက် ပို့ဆောင်ပေးပါသည်။
            </p>
            <p class="fw-bold">3 days return policy</p>
            <p>
                ဝယ်ယူပီး ပစ္စည်းများကို Factory Fault ပါလျှင် (၃)
                ရက်အတွင်းပြန်လည်ပို့ပေးရန်လိုပါသည်။
            </p>
            <p>Available Payment Methods</p>
                <div class="row paymentMethods">
                     @foreach(var PaymentImage in ViewBag.PaymentTypes)
                        {
                            <div class="col-2">
                                <img src="@PaymentImage.PaymentTypeImage" class="w-100" alt="" />
                            </div>
                        }
                </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row p-2">
        <p class="mt-4 pb-0 mb-0 fs-5 fw-bold fontFamilies">Product Details of <span>@ViewBag.Product.Name</span></p>
        <table class="table mt-2 p-3 table-striped">
            <tbody>
                @for (int i = 0; i < DescriptionKeys.Count - 1; i++)
                {
                    <tr>
                        <td scope="row" class="fontFamilies">@DescriptionKeys[i]</td>
                        <td class="fontFamilies fs-6">@DescriptionValues[i]</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <h4>Other Related Products</h4>
        @for (int i = 0; i < RelatedImages.Count; i++)
        {
            <div class="col-lg-2 col-md-3 col-6 RelatedImages" id="@RelatedImages[i].Id">
                <div class="p-3 shadow rounded" id="@Model[i].Id">
                    <div class="bg-body-secondary p-4 rounded">
                        <img src="@RelatedImages[i].FrontImageUrl" class="w-100 h-100 imageHeight" alt="">
                    </div>
                    <p class="m-0 p-0 pt-2">@Model[i].Name</p>
                    
                    @{
                        var roundedUnitPrice = Math.Floor(Model[i].UnitPrice);
                    }
                    <span class="text-primary fw-bold fs-6">@roundedUnitPrice<p class="d-inline"> Ks</p></span>
                </div>

            </div>
        }


    </div>
</div>
<script>
    
    $("#BuyNow").on('click', function () {
        var selectedItem = {};
        selectedItem.ImageName = $("#ImageName").attr('src');
        selectedItem.ProductName = $("#ProductName").html();
        selectedItem.UnitPrice = $("#UnitPrice").val();
        selectedItem.numberOfItem = $("#numberOfItem").val();
        selectedItem.Id = $("#shopProductId").val();
        selectedItem.ShopName = $("#ShopName").val();
        selectedItem.itemxPrice = $("#UnitPrice").val() * $("#numberOfItem").val();
        selectedItem.StockCount = $("#StockCount").val();


        var url = "/ShopProduct/cart";
        $.ajax({
            type: 'POST',
            url: url,
            data: selectedItem,
            success: function (response) {
                var data = JSON.stringify(response);

                if (data != null) {
                    window.location.href = "/ShopProduct/CheckOut";
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
    })
    $(".cart").on('click', function () {
        var selectedItem = {};
        selectedItem.ImageName = $("#ImageName").attr('src');
        selectedItem.ProductName = $("#ProductName").html();
        selectedItem.UnitPrice = $("#UnitPrice").val();
        selectedItem.numberOfItem = $("#numberOfItem").val();
        selectedItem.Id = $("#shopProductId").val();
        selectedItem.ShopName = $("#ShopName").val();
        selectedItem.itemxPrice = $("#UnitPrice").val() * $("#numberOfItem").val();
        selectedItem.StockCount = $("#StockCount").val();


        var url = "/ShopProduct/CartIcon";
        $.ajax({
            type: 'POST',
            url: url,
            data: selectedItem,
            success: function (response) {
                var data = JSON.stringify(response);

                if (response == null || response.length === 0) {
                    alert("Your Cart is Empty!");
                    return;
                } else {
                    window.location.href = "/ShopProduct/AddtoCart?cart=" + encodeURIComponent(JSON.stringify(response));
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
    })
    $(".addtocart").on('click', function () {
        var selectedItem = {};
        selectedItem.ImageName = $("#ImageName").attr('src');
        selectedItem.ProductName = $("#ProductName").html();
        selectedItem.UnitPrice = $("#UnitPrice").val();
        selectedItem.numberOfItem = $("#numberOfItem").val();
        selectedItem.Id = $("#shopProductId").val();
        selectedItem.ShopName = $("#ShopName").val();
        selectedItem.itemxPrice = $("#UnitPrice").val() * $("#numberOfItem").val();
        selectedItem.StockCount = $("#StockCount").val();


        var url = "/ShopProduct/Cart";
        $.ajax({
            type: 'POST',
            url: url,
            data: selectedItem,
            success: function (response) {
                var data = JSON.stringify(response);

                if (data != null) {
                    window.location.href = "/ShopProduct/AddtoCart?cart=" + encodeURIComponent(JSON.stringify(response));
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
    })

    $(".selectItem").click(function (event) {
        var clickedImg = event.target;
        var src = clickedImg.getAttribute('src');

        $("#mainImg").attr("src", src)
    })
    $("#increaseButton").click(function () {
        var NumberOfItem = parseInt($("#numberOfItem").val());
        if (NumberOfItem >= $("#StockCount").val()) {
            alert("Insufficient Product")

        } else {
            var IncreaseItem = ++NumberOfItem;
            $("#numberOfItem").val(IncreaseItem);
            var totalAmount = $("#UnitPrice").val() * IncreaseItem;
            $("#TotalPrice").html(totalAmount)
        }

    })
    $("#reduceButton").click(function () {
        var NumberOfItem = parseInt($("#numberOfItem").val());
        if (NumberOfItem == 1) {
            return;
        } else {
            var DecreaseItem = --NumberOfItem;
            $("#numberOfItem").val(DecreaseItem);
            var totalAmount = $("#UnitPrice").val() * DecreaseItem;
            $("#TotalPrice").html(totalAmount)
        }
    })
    $(".RelatedImages").click(function () {
        var ImageAndProductId = {};
        ImageAndProductId.ProductId = $(this).children().first().attr("id");
        ImageAndProductId.ImageId = $(this).attr("id");
        var url = "/ShopProduct/ViewShopProduct";
        $.ajax({
            type: 'POST',
            url: url,
            data: ImageAndProductId,
            success: function (response) {
                var data = JSON.stringify(response);

                if (data != null) {
                    window.location.href = "/ShopProduct/DetailProduct?shopProductData=" + encodeURIComponent(JSON.stringify(response));
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
    })

</script>