@model IList<ShopProductViewModel>
<div class="product-Bar position-sticky z-2">
    <div class="container-fluid py-2">
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            All Products
        </button>
        
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
            @foreach (var product in ViewBag.AllProductList)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@product.Id">@product.Name</a></li>
            }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Smart Phones
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll" ">
        @foreach (var phone in ViewBag.Phones)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@phone.Id">@phone.Name</a></li>
        }

        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Laptops
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var laptop in ViewBag.Laptops)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@laptop.Id">@laptop.Name</a></li>
        }

        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Tablets
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var tablet in ViewBag.tablets)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@tablet.Id">@tablet.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none" data-bs-toggle="dropdown"
                aria-expanded="false">
            Other Accessories
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var OtherAccessory in @ViewBag.OtherAccessories)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@OtherAccessory.Id">@OtherAccessory.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent px-2 d-lg-none d-md-none d-inline"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars-staggered fs-4 text-primary"></i>
        </button>
        <button class="float-end btn btn-primary text-light btn-sm my-auto position-relative">
            <a class="nav-link active text-light fs-6 d-flex justify-content-center align-items-center"
               href="#">
                <i class="fa-solid fa-cart-shopping text-warning px-1"></i>
                Cart
                <span class="position-absolute top-0 end-50 translate-middle badge rounded-pill text-bg-secondary">+999</span>
            </a>
        </button>
    </div>
    <div class="offcanvas offcanvas-start bg-transparent border-0"
         id="offcanvasExample"
         aria-labelledby="offcanvasExampleLabel">
        <div class="w-50 ChildOffcanvas">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
                    Products
                </h5>
                <button type="button"
                        class="btn btn-transparent"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close">
                    <i class="text-light fs-4 fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="offcanvas-body overflow-visible">
                <div class="w-100 dropend">
                    <button type="button"
                            class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        All Products <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Smart Phones <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Laptops <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Tablets <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Other Accessories <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid mt-3">
      <div class="row p-2 position-relative">
        <div class="col-3 p-3 ">
          <div class="position-sticky Filter">
            <p class="fw-bold fs-5">Filters</p>
            <div class="row p-2">
              <span class="m-0 p-0 mb-2">Filter by Category</span>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  SmartWatches
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  SmartPhones
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  Black
                </label>
              </div>
            </div>
            <div class="row p-2">
              <span class="m-0 p-0 mb-2">Filter by Color</span>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  Red
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  Orange
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  Pink
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  Yellow
                </label>
              </div>
            </div>
            <div class="row p-2">
              <span class="m-0 p-0 mb-2">Filter By Price</span>
              <div class="input-group m-0 p-0 z-1">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Please Enter Amount" />
                <button class="btn btn-primary" type="button">
                  <i class="fa-solid fa-filter"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        @* Showing Products *@
        <div class="col-9">
            @for(int i = 0; i < Model.Count; i++)
            {
                <div class="row border mb-2">
                    <div class="col-3 selectItem p-3">
                        <img src="@ViewBag.ImageList[i].FrontImageUrl" class="w-100" alt="" />
                    </div>
                    <div class="col-9 d-flex flex-column justify-content-between align-items-between p-2">
                        <div>
                            <p class="fw-bold fs-5 m-0 p-0">@ViewBag.ProductList[i].Name</p>
                            <h6 class="p-0 m-0">
                                @ViewBag.DescriptionList[i]
                            </h6>
                        </div>
                        <div id="@ViewBag.ImageList[i].Id" class="@ViewBag.ProductList[i].Id">
                            <button class="btn active btn-sm fs-6 SeeOptions">See Options</button>
                        </div>
                        <div>
                            <p class="m-0 p-0">
                                <i class="fa-solid fa-circle me-2" style="color: red"></i><i class="fa-solid fa-circle me-2" style="color: blue"></i><i class="fa-solid fa-circle" style="color: green"></i>
                            </p>
                            <div class="d-flex justify-content-between">
                                <span class="text-primary fw-bold fs-6 d-flex">
                                    <p>@ViewBag.ProductList[i].UnitPrice</p>
                                    <p class="d-inline ms-2">Ks</p>
                                </span>
                                <span class="text-primary">@ViewBag.ShopList[i].Name</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
      </div>
    </div>
    <script>
        $(".SeeOptions").on('click', function () {
        var ImageAndProductId = {};
        var parentDiv = $(this).parent();
        ImageAndProductId.ImageId = parentDiv.attr('id');
        ImageAndProductId.ProductId = parentDiv.attr('class');
        var url = "/ShopProduct/ViewShopProduct";
        $.ajax({
            type: 'POST',
            url: url,
            data: ImageAndProductId,
            success: function (response) {
                var data = JSON.stringify(response);

                if (data != null) {
                    window.location.href = "/ShopProduct/DetailProduct?shopProductData=" + encodeURIComponent(JSON.stringify(response));
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
        })
    </script>