@model IList<ShopProductViewModel>
<div class="product-Bar position-sticky z-1">
    <div class="container-fluid py-2">
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            All Products
        </button>
        
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
            @foreach (var product in ViewBag.AllProductList)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@product.Id">@product.Name</a></li>
            }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Smart Phones
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll" ">
        @foreach (var phone in ViewBag.Phones)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@phone.Id">@phone.Name</a></li>
        }

        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Laptops
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var laptop in ViewBag.Laptops)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@laptop.Id">@laptop.Name</a></li>
        }

        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Tablets
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var tablet in ViewBag.tablets)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@tablet.Id">@tablet.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none" data-bs-toggle="dropdown"
                aria-expanded="false">
            Other Accessories
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var OtherAccessory in @ViewBag.OtherAccessories)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@OtherAccessory.Id">@OtherAccessory.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent px-2 d-lg-none d-md-none d-inline"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars-staggered fs-4 text-primary"></i>
        </button>
        <button class="float-end btn btn-primary text-light btn-sm my-auto position-relative cart">
            <a class="nav-link active text-light fs-6 d-flex justify-content-center align-items-center"
               href="#">
                <i class="fa-solid fa-cart-shopping text-warning px-1"></i>
                Cart
                <span class="position-absolute top-0 end-50 translate-middle badge rounded-pill text-bg-secondary">  @TempData["count"]</span>
            </a>
        </button>
    </div>
   
</div>
<div class="offcanvas offcanvas-start bg-transparent border-0"
     id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="w-50 ChildOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
                Products
            </h5>
            <button type="button"
                    class="btn btn-transparent"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
                <i class="text-light fs-4 fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="offcanvas-body overflow-visible">
            <div class="w-100 dropend">
                <button type="button"
                        class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    All Products <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var product in ViewBag.ProductList)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@product.Id">@product.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Smart Phones <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var phone in ViewBag.Phones)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@phone.Id">@phone.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Laptops <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var laptop in ViewBag.Laptops)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@laptop.Id">@laptop.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Tablets <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var tablet in ViewBag.tablets)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@tablet.Id">@tablet.Name</a></li>
        }
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Other Accessories <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light overflow-y-scroll dropDownScroll">
        @foreach (var OtherAccessory in @ViewBag.OtherAccessories)
        {
                        <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@OtherAccessory.Id">@OtherAccessory.Name</a></li>
        }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row p-2 position-relative">
        <div class="col-12">
            <i class="fa-solid fa-filter text-primary fs-2 mb-2 d-lg-none d-md-none d-block" id="Filter"></i>          
        </div>
        <div class="col-3 p-3 d-lg-block d-md-block d-none bg-light" id="FilterContainer">
            <div class="position-sticky Filter">
                <p class="fw-bold fs-5">Filters</p>
                <div class="row p-2">
                    <span class="m-0 p-0 mb-2">Filter by Category</span>
                    <div class="form-check mb-2">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            <a href="/mainpage/showallproduct?id=@ViewBag.LaptopId" class="text-decoration-none">
                                Laptops
                            </a>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            <a href="/mainpage/showallproduct?id=@ViewBag.PhoneId" class="text-decoration-none">
                                Smart Phones
                            </a>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            <a href="/mainpage/showallproduct?id=@ViewBag.TabletId" class="text-decoration-none">
                                Tablets
                            </a>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            <a href="/mainpage/showallproduct?id=@ViewBag.SmartWatchId" class="text-decoration-none">
                                SmartWatches
                            </a>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            <a href="/mainpage/showallproduct?id=@ViewBag.PowerBankId" class="text-decoration-none">
                                PowerBanks
                            </a>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            <a href="/mainpage/showallproduct?id=@ViewBag.HeadPhoneId" class="text-decoration-none">
                                HeadPhones
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        @* Showing Products *@
        <div class="col-lg-9 col-md-9 col-12">
        @{
            if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    var counter = Model[i];
                                <div class="row border mb-2">
                                    <div class="col-3 selectItem p-3">

                                        <img src="@ViewBag.ImageList[i].FrontImageUrl" class="w-100" alt="" />


                                    </div>
                                    <div class="col-9 d-flex flex-column justify-content-between align-items-between p-2">
                                        <div>
                                            <p class="fw-bold fs-5 m-0 p-0">@ViewBag.ProductList[i].Name</p>
                                            <h6 class="p-0 m-0">
                                            @ViewBag.DescriptionList[i]
                                            </h6>
                                        </div>
                                        <div id="@ViewBag.ImageList[i].Id" class="@ViewBag.ProductList[i].Id">
                                            <button class="btn active btn-sm fs-6 SeeOptions">See Options</button>
                                        </div>
                                        <div>
                                            
                                            <div class="d-flex justify-content-between">
                                                <span class="text-primary fw-bold fs-6 d-flex">
                                                @{
                                            var roundedUnitPrice = Math.Floor(ViewBag.ProductList[i].UnitPrice);
                                                }
                                                    <p>@roundedUnitPrice</p>
                                                    <p class="d-inline ms-2">Ks</p>
                                                </span>
                                                <span class="text-primary">@ViewBag.ShopList[i].Name</span>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                }
            }
            else
            {
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="/Images/OutOfStock.png" class="w-50 h-50" />
                            </div>
            }
        }
        </div>
    </div>
</div>

<script>
    $(".SeeOptions").on('click', function () {
        var ImageAndProductId = {}
        var parentDiv = $(this).parent()
        ImageAndProductId.ImageId = parentDiv.attr('id')
        ImageAndProductId.ProductId = parentDiv.attr('class')
        var url = "/ShopProduct/ViewShopProduct";
        $.ajax({
            type: 'POST',
            url: url,
            data: ImageAndProductId,
            success: function (response) {
                var data = JSON.stringify(response);

                if (data != null) {
                    console
                    window.location.href = "/ShopProduct/DetailProduct?shopProductData=" + encodeURIComponent(JSON.stringify(response));
                }
            },
            failure: function (error) {
                console.log(error);
            }
        })
    });
    $("#Filter").on('click', function () {

        $("#FilterContainer").toggleClass("d-none position-fixed top-25 w-50")
    });
    $(".cart").on('click', function () {
        var url = "/ShopProduct/CartIcon";
        $.ajax({
            type: 'POST',
            url: url,
            
            success: function (response) {
                var data = JSON.stringify(response);

                if (response == null || response.length === 0) {
                    alert("Your Cart is Empty!");
                    return;
                } else {
                    window.location.href = "/ShopProduct/AddtoCart?cart=" + encodeURIComponent(JSON.stringify(response));
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
    })
</script>