@model List<ImageViewModel>
@if (TempData["info"] != null)
{
    <div class="alert alert-info">@TempData["info"]</div>
}

<table class="table table-striped-columns table-primary border border-secondary" id="tableRoute">
    <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">FrontImage</th>
            <th scope="col">BackImage</th>
            <th scope="col">RightSide</th>
            <th scope="col">LeftSide</th>
            <th scope="col">ImageName</th>
            <th scope="col">Filetype</th>
            <th scope="col">Filesize</th>
            <th scope="col">Actions</th>


        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td><img src="@item.FrontImageUrl" class="w-50"> </td>
                <td><img src="@item.BackImageUrl" class="w-50"> </td>
                <td><img src="@item.RightSideImageUrl" class="w-50"> </td>
                <td> <img src="@item.LeftSideImageUrl" class="w-50"></td>
                <td>@item.ImageName</td>
                <td>@item.Filetype</td>
                <td>@item.Filesize</td>

                <td>
                    <a class="btn btn-success mb-2" href="/Image/Edit?id=@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/Image/Delete?id=@item.Id" onclick="return confirm('are you sure to delete this recrod?');" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>


            </tr>
            index++;
        }
    </tbody>
</table>
<script>
     $(document).ready(function () {
        $("#tableRoute").DataTable({
            scrollY: true,
            scrollX: true,
            scrollCollapse: true,
        });
       
    })
</script>