@model ImageViewModel
<body style="background-color:lightblue">
    @if (TempData["Info"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Info"]
        </div>
    }
    <h3>Entry Image</h3>
    <form action="/Image/Edit" method="post">
        <input type="hidden" value="@Model.Id" name="Id" />


        <div class="mb-3">
            <label>FrontImage</label>
            <div style="width:100px;height:100px">
                <image style="width:100%" src="@Model.FrontImageUrl"></image>
            </div>
           
            <input type="file" class="form-control" name="FrontImageUrl" placeholder="Blh blh blh">
            
        </div>
        <div class="mb-3">
            <label>BackImage</label>
            <div style="width:100px;height:100px">
                <image style="width:100%" src="@Model.BackImageUrl"></image>
            </div>
            <input type="file" class="form-control" name="BackImageUrl">
            
        </div>
        <div class="mb-3">
            <label>RightSideImage</label>
            <div style="width:100px;height:100px">
                <image style="width:100%" src="@Model.RightSideImageUrl"></image>
            </div>
            <input type="file" class="form-control" name="RightSideImageUrl">

        </div>
        <div class="mb-3">
            <label>LeftSideImage</label>
           <div style="width:100px;height:100px">
                <image style="width:100%" src="@Model.LeftSideImageUrl"></image>
            </div>
            <input type="file" class="form-control" name="LeftSideImageUrl">

        </div>
        <div class="mb-3">
            <label class="form-label">ImageName</label>
            <input type="text" class="form-control" name="ImageName" value="@Model.ImageName">
        </div>
        <div class="mb-3">
            <label class="form-label">Filetype</label>
            <input type="text" class="form-control" name="Filetype" value="@Model.Filetype">
        </div>
        <div class="mb-3">
            <label class="form-label">Filesize</label>
            <input type="text" class="form-control" name="Filesize" value="@Model.Filesize">
        </div>




        <input type="submit" class="btn btn_primary" value="Entry" />
        <input type="reset" class="btn btn_primary" value="Cancel" />
    </form>
</body>
