@model List<UserViewModel>
<h1>User Information</h1>
@if (TempData["info"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["info"]</div>
}
<table class="table table-striped-columns table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">PhoneNo</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>@item.Name</td>
                <td>@item.PhoneNo</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                    <td>
                        <a class="btn btn-success" href="/user/edit?id=@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/user/delete?id=@item.Id" onclick="return confirm('Are you sure to delete this record?');" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
            </tr>
            index++;
        }

    </tbody>
</table>