@model PaymentTypeViewModel
@{
    ViewData["Title"] = "Payment Type Edit";
}

<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Edit Payment Type</h3>
    <div class="col-12 m-0 p-0">
        <h4 class="col-lg-9 col-md-6 col-10 mx-auto text-center text-light py-3 formHeader m-0 p-0 rounded-top AdminNav">Edit Payment Type</h4>
    </div>
    <form action="/paymenttype/update" method="post" class="col-lg-9 col-md-6 col-10 mx-auto shadow-sm p-3 border border-2 border-secondary rounded-bottom">
        <input type="hidden" name="id" value="@Model.Id" />

        <div class="row">
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">PaymentType</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="PaymentType" value="@Model.PaymentType">
            </div>
            <div class="col-12 mb-3 d-flex flex-column">

                <label class="labelFontSize fw-bold pb-2">Payment Type Image</label>
                <div class="col-5">
                    <img class="w-50 bg-transparent rounded p-2" src="@Model.PaymentTypeImage" alt="">
                </div>
                <label class="labelFontSize fw-bold">Payment Type Image URL</label>
                <input type="text" class="text-primary border-0 border-bottom border-primary bg-transparent search-Bar" name="PaymentTypeImage" value="@Model.PaymentTypeImage" id="PaymentTypeImageUrl">
                <div class="input-group mt-2">
                    <input type="file" class="form-control" hidden id="HiddenPaymentTypeImageUrl">
                    <label class="input-group-text rounded" for="HiddenPaymentTypeImageUrl">Choose</label>
                </div>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">

                <label class="labelFontSize fw-bold pb-2">Payment Type QR</label>
                <div class="col-5">
                    <img class="w-50 bg-transparent rounded p-2" src="@Model.PaymentTypeQR" alt="">
                </div>
                <label class="labelFontSize fw-bold">Payment Type QR URL</label>
                <input type="text" class="text-primary border-0 border-bottom border-primary bg-transparent search-Bar" name="PaymentTypeQR" value="@Model.PaymentTypeQR" id="PaymentTypeQRUrl">
                <div class="input-group mt-2">
                    <input type="file" class="form-control" hidden id="HiddenPaymentTypeQRUrl">
                    <label class="input-group-text rounded" for="HiddenPaymentTypeQRUrl">Choose</label>
                </div>
            </div>
            <div class="col-12 mb-2">
                <button type="submit" class="btn btn-warning col-5 fw-bold" value="Entry">Update</button>
                <button type="reset" class="btn btn-secondary col-5 fw-bold" value="Cancel">Cancel</button>
            </div>
           
        </div>
    </form>
    <script>
        $("#HiddenPaymentTypeImageUrl").change(function (event) {
            var ImagePath =event.target.files[0].name;
            console.log(ImagePath)
            $("#PaymentTypeImageUrl").val(ImagePath)
        })
        $("#HiddenPaymentTypeQRUrl").change(function (event) {
            var ImagePath = event.target.files[0].name;
            console.log(ImagePath)
            $("#PaymentTypeQRUrl").val(ImagePath)
        })
        
    </script>
</body>