@model ProductViewModel
<body style="background-color:lightblue">
    @if (TempData["Info"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Info"]
        </div>
    }
    <div class="col-12 m-0 p-0">
        <h4 class="col-lg-7 col-md-6 col-10 mx-auto text-center text-light py-3 formHeader m-0 p-0 rounded-top AdminNav">Edit Product</h4>
    </div>
    <form action="/Product/Edit" method="post" class="col-lg-7 col-md-6 col-10 mx-auto shadow-sm p-3 border border-2 border-secondary rounded-bottom">
        <h3>Edit Product</h3>
            <input name="Id" type="hidden" value="@Model.Id"/>

        <div class="row">
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Type*</label>
                <select name="BrandId" class="border-0 border-bottom border-primary bg-transparent search-Bar">
                    <option value="@Model.TypeId">@Model.TypeName</option>
                    @foreach (var Type in ViewBag.FromTypeId)
                    {
                        if (Model.TypeId != Type.Id)
                        {
                            <option value="@Type.Id">@Type.Name</option>
                        }
                    }
                </select>

            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Brand*</label>
                <select name="BrandId" class="border-0 border-bottom border-primary bg-transparent search-Bar">
                    <option value="@Model.BrandId">@Model.BrandName</option>
                    @foreach (var Brand in ViewBag.FromBrandId)
                    {
                        if (Model.BrandId != Brand.Id)
                        {
                            <option value="@Brand.Id">@Brand.Name </option>
                        }
                    }
                </select>

            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Product Name*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="Name" value="@Model.Name">
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Unit Price*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="UnitPrice" value="@Model.UnitPrice">
            </div>
            <div class="col-12 mb-2">
                <button type="submit" class="btn btn-warning col-5 fw-bold" value="Entry">Update</button>
                <button type="reset" class="btn btn-secondary col-5 fw-bold" value="Cancel">Cancel</button>
            </div>
        </div>
    </form>
</body>


