@{
    ViewData["Title"] = "Home Page";
}
@model ProductImageViewModel
@* 
@model IList<ImageViewModel> *@
@*     Product Bar *@
<div class="product-Bar position-sticky z-1">
    <div class="container-fluid py-2">
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            All Products
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
            @foreach (var product in ViewBag.ProductList)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@product.Id">@product.Name</a></li>
            }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Smart Phones
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll" ">
            @foreach (var phone in ViewBag.Phones)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@phone.Id">@phone.Name</a></li>
            }

        </ul>
       
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Laptops
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
            @foreach (var laptop in ViewBag.Laptops)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@laptop.Id">@laptop.Name</a></li>
            }
            
        </ul>

        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Tablets
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
            @foreach (var tablet in ViewBag.tablets)
            {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@tablet.Id">@tablet.Name</a></li>
            }
        </ul>
        <button class="btn btn-transparent border border-primary text-light dropdown-toggle btn-sm my-auto d-lg-inline d-md-inline d-none" data-bs-toggle="dropdown"
                aria-expanded="false">
            Other Accessories
        </button>
        <ul class="dropdown-menu dropdown-menu-dark overflow-y-scroll dropDownScroll">
        @foreach (var OtherAccessory in @ViewBag.OtherAccessories)
        {
                <li><a class="dropdown-item" href="/MainPage/ShowProduct?id=@OtherAccessory.Id">@OtherAccessory.Name</a></li>
        }
        </ul>
        <button class="btn btn-transparent px-2 d-lg-none d-md-none d-inline"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars-staggered fs-4 text-primary"></i>
        </button>
        <button class="float-end btn btn-primary text-light btn-sm my-auto position-relative">
            <a class="nav-link active text-light fs-6 d-flex justify-content-center align-items-center"
               href="#">
                <i class="fa-solid fa-cart-shopping text-warning px-1"></i>
                Cart
                <span class="position-absolute top-0 end-50 translate-middle badge rounded-pill text-bg-secondary">+999</span>
            </a>
        </button>
    </div>
        <div class="offcanvas offcanvas-start bg-transparent border-0"
             id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel">
            <div class="w-50 ChildOffcanvas">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
                        Products
                    </h5>
                    <button type="button"
                            class="btn btn-transparent"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close">
                        <i class="text-light fs-4 fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="offcanvas-body overflow-visible">
                    <div class="w-100 dropend">
                        <button type="button"
                                class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            All Products <i class="fa-solid fa-angle-right"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                        </ul>
                    </div>
                    <div class="w-100 dropend">
                        <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Smart Phones <i class="fa-solid fa-angle-right"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Samsung</a></li>
                            <li><a class="dropdown-item" href="#">RealMe</a></li>
                            <li><a class="dropdown-item" href="#">Apple</a></li>
                        </ul>
                    </div>
                    <div class="w-100 dropend">
                        <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Laptops <i class="fa-solid fa-angle-right"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Samsung</a></li>
                            <li><a class="dropdown-item" href="#">RealMe</a></li>
                            <li><a class="dropdown-item" href="#">Apple</a></li>
                        </ul>
                    </div>
                    <div class="w-100 dropend">
                        <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Tablets <i class="fa-solid fa-angle-right"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Samsung</a></li>
                            <li><a class="dropdown-item" href="#">RealMe</a></li>
                            <li><a class="dropdown-item" href="#">Apple</a></li>
                        </ul>
                    </div>
                    <div class="w-100 dropend">
                        <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Other Accessories <i class="fa-solid fa-angle-right"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Samsung</a></li>
                            <li><a class="dropdown-item" href="#">RealMe</a></li>
                            <li><a class="dropdown-item" href="#">Apple</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
</div>
<div class="offcanvas offcanvas-start bg-transparent border-0"
     id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="w-50 ChildOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
                Products
            </h5>
            <button type="button"
                    class="btn btn-transparent"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
                <i class="text-light fs-4 fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="offcanvas-body overflow-visible">
            <div class="w-100 dropend">
                <button type="button"
                        class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    All Products <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu">
                    
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Smart Phones <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">RealMe</a></li>
                    <li><a class="dropdown-item" href="#">Apple</a></li>
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Laptops <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">RealMe</a></li>
                    <li><a class="dropdown-item" href="#">Apple</a></li>
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Tablets <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">RealMe</a></li>
                    <li><a class="dropdown-item" href="#">Apple</a></li>
                </ul>
            </div>
            <div class="w-100 dropend">
                <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Other Accessories <i class="fa-solid fa-angle-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">RealMe</a></li>
                    <li><a class="dropdown-item" href="#">Apple</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Slide Show-->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner SlidecContainer">

        <div class="carousel-item active SlidecContainer" data-bs-interval="2000">
            <div class="d-flex">
                <img src="/Images/slide1.png"
                     class="w-50 display-4 d-block slideImg"
                     alt="..." />
                <p class="d-flex justify-content-center w-50 align-items-center fs-3 slideFontColor fw-bold">

                    20% Discount For Summer Promotion <br> Enjoy With Your Life <br> Enjyo the Smooth
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="d-flex">
                <img src="/images/slide2.png"
                     class="w-50 d-block display-4 slideImg"
                     alt="..." />
                <p class="d-flex justify-content-center w-50 align-items-center fs-3 p-sm-3 fw-bold slideFontColor">
                    10% Discount For March Promotion <br> Enjoy with Your Life <br>Enjoy the Premium
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img src="/images/slide3.png"
                     class="w-50 d-block display-4 slideImg"
                     alt="..." />
                <p class="d-flex justify-content-center align-items-center w-50 fs-3 p-sm-3 fw-bold slideFontColor">
                    30% Discount For Clearnance Price <br>Be smart with Your Laptop
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@* End of Slide Show *@


<div class="container-fluid mb-2">
    <div class="overflow-x-scroll d-flex justify-content-lg-around align-items-center p-2" 
         id="myover">
        <div >
            <a class="text-decoration-none" href="/mainpage/showallproduct?id=@ViewBag.LaptopId">
                <div class="d-flex flex-column justify-content-center align-items-center AllProducts border" id="Laptop">
                    <p class="fw-bold mt-2">LAPTOP</p>
                    <div class="ImgContainer d-flex justify-content-center mt-3">
                        <i class="fa-solid fa-laptop text-secondary fs-2"></i>
                    </div>
                </div>
            </a>
            
        </div>
        <div>
            <a class="text-decoration-none" href="/mainpage/showallproduct?id=@ViewBag.PhoneId">
                <div class="d-flex flex-column justify-content-center align-items-center AllProducts border" id="Phone">
                    <p class="fw-bold mt-2">SMART PHONE</p>
                    <div class="ImgContainer d-flex justify-content-center mt-3">
                        <i class="fa-solid fa-mobile text-secondary fs-2"></i>
                    </div>
                </div>
            </a>
            
        </div>
        <div>
            <a class="text-decoration-none" href="/mainpage/showallproduct?id=@ViewBag.TabletId">
                <div class="d-flex flex-column justify-content-center align-items-center AllProducts border" id="Tablet">
                    <p class="fw-bold mt-2">TABLET</p>
                    <div class="ImgContainer d-flex justify-content-center mt-3">
                        <i class="fa-solid fa-headphones text-secondary fs-2"></i>
                    </div>
                </div>
            </a>
            
        </div>
        <div>
            <a class="text-decoration-none" href="/mainpage/showallproduct?id=@ViewBag.PowerBankId">
                <div class="d-flex flex-column justify-content-center align-items-center AllProducts border" id="PowerBank">
                    <p class="fw-bold mt-2">POWER BANK</p>
                    <div class="ImgContainer d-flex justify-content-center mt-3">
                        <i class="fa-solid fa-tablet text-secondary fs-2"></i>
                    </div>
                </div>
            </a>
            
        </div>
        <div>
            <a class="text-decoration-none" href="/mainpage/showallproduct?id=@ViewBag.SmartWatchId">
                <div class="d-flex flex-column justify-content-center align-items-center AllProducts border" id="SmartWatch">
                    <p class="fw-bold mt-2">SMART WATCH</p>
                    <div class="ImgContainer d-flex justify-content-center mt-3">
                        <i class="bi bi-smartwatch text-secondary fs-2"></i>
                    </div>
                </div>
            </a>
            
        </div>
        <div>
            <a class="text-decoration-none" href="/mainpage/showallproduct?Id=@ViewBag.HeadPhoneId">
                <div class="d-flex flex-column justify-content-center align-items-center AllProducts border" id="HeadPhone">
                    <p class="fw-bold mt-2">HEADPHONE</p>
                    <div class="ImgContainer d-flex justify-content-center mt-3">
                        <i class="fa-solid fa-headphones text-secondary fs-2"></i>
                    </div>
                </div>
             </a>
            
        </div>
    </div>
</div>
<hr>

@* Second Slide Show *@
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-12 d-flex justify-content-center align-items-center">
            <div class="text-start fs-5 fw-semibold slideFontColor mb-2">
                Secure And Fast Delivery. Door to Door Service in Yangon and Other for the nearest Express Station!
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12 DeliverySlideConatiner">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="/images/secureDelivery.jpg" class="d-block w-100 h-50 rounded" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/homedelivery.png" class="d-block w-100 h-50 rounded" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@* Main Product Body *@
<div class="container-fluid">
    <p class="text-center fw-bold fs-5 mt-4 mb-1">Most Popular Items</p>
    <div class="row">
        @for(int i=0;i<Model.Images.Count && i<Model.Products.Count;i++)
        {
            var image=Model.Images[i];
            var product = Model.Products[i];
            <div class="col-lg-3 col-md-6 col-6 p-2 SelectProduct" id="@product.Id">
                <div class="col-10 mx-auto shadow-sm p-3 rounded" id="@image.Id">
                    <img src="@image.FrontImageUrl" class="w-100 popularProduct" alt="" />
                    <p class="text-center m-0 p-0 fs-6">@product.Name</p>
                    <div class="d-flex justify-content-center">
                        <span class="text-primary px-2 fw-bold fs-6">@product.UnitPrice Ks</span>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>

<script>
    $(".SelectProduct").on('click', function () {

        var ImageAndProductId = {};
        ImageAndProductId.ProductId = $(this).attr("id");
        ImageAndProductId.ImageId = $(this).children().first().attr("id")
        var url = "/ShopProduct/ViewShopProduct";

        $.ajax({
            type: 'POST',
            url: url,
            data: ImageAndProductId,
            success: function (response) {
                var data = JSON.stringify(response);

                if (data != null) {
                    window.location.href = "/ShopProduct/DetailProduct?shopProductData=" + encodeURIComponent(JSON.stringify(response));
                }

            },
            failure: function (error) {
                console.log(error);
            }
        })
    })
</script>
