@model List<ShopProductResultViewModel>
<h1>Image List Information</h1>


<body>
   
    <div class="container-fluid mt-3">
        <div class="row p-2 position-relative">
            <div class="col-3 p-3 ">
                <div class="position-sticky Filter">
                    <p class="fw-bold fs-5">Filters</p>
                    <div class="row p-2">
                        <span class="m-0 p-0 mb-2">Filter by Category</span>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                SmartWatches
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                SmartPhones
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Black
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <span class="m-0 p-0 mb-2">Filter by Color</span>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Red
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Orange
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Pink
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Yellow
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <span class="m-0 p-0 mb-2">Filter By Price</span>
                        <div class="input-group m-0 p-0 z-1">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Please Enter Amount" />
                            <button class="btn btn-primary" type="button">
                                <i class="fa-solid fa-filter"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                @foreach (var item in Model)
                {
                    <div class="row border mb-2">
                        <div class="col-3 selectItem p-3">
                            <img src="@item.ImageName" class="w-100" alt="" />
                        </div>
                        <div class="col-9 d-flex flex-column justify-content-between align-items-between p-2">
                            <div>
                                <p class="fw-bold fs-5 m-0 p-0">@item.ProductName</p>
                                <h6 class="p-0 m-0">
                               @item.Description
                                </h6>
                            </div>
                            <div>
                                <button class="btn active btn-sm fs-6">See Options</button>
                            </div>
                            <div>
                                <p class="m-0 p-0">
                                    <i class="fa-solid fa-circle me-2" style="color: red"></i><i class="fa-solid fa-circle me-2" style="color: blue"></i><i class="fa-solid fa-circle" style="color: green"></i>
                                </p>
                                <span class="text-primary fw-bold fs-6">
                                 @item.StockCount
                                    <p class="d-inline">Ks</p>
                                </span>
                                <span class="text-primary fw-bold fs-6">
                                    @item.ShopName
                                    <p class="d-inline">Ks</p>
                                </span>
                                <span class="text-primary fw-bold fs-6">
                                    @item.Unitprice
                                    <p class="d-inline">Ks</p>
                                </span>
                            </div>
                        </div>
                    </div>
                }
              
               
            </div>
        </div>
    </div>
    <div class="container-fluid pageFooter mt-3 border-top border-secondary">
        <div class="row border-bottom border-secondary p-2">
            <div class="col-lg-3 col-6  mb-lg-0 mb-2 Cursor-Pointer">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-solid fa-truck display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">Free Shipping</div>
                        <div class="fs-6 fw-normal text-secondary">For Every State</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb-lg-0 mb-2 Cursor-Pointer">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-solid fa-reply display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">3 Days Return Policy</div>
                        <div class="fs-6 fw-normal text-secondary">
                            Return within 3 Days
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 Cursor-Pointer">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-regular fa-credit-card display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">Easy Payment</div>
                        <div class="fs-6 fw-normal text-secondary">
                            Pay with various payment methods
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 Cursor-Pointer">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-solid fa-truck-fast display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">Fase Delivery</div>
                        <div class="fs-6 fw-normal text-secondary">
                            2 Days deliver in YGN & MDY
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>