@model TypeViewModel
<form action="/shopproduct/entry" method="post">
    <div class="mb-3">
        <label class="form-label">ShopName</label>
        <select name="ShopId" class="form-select">
            @foreach (var shop in ViewBag.Shop)
            {
                <option value="@shop.Id">@shop.Name</option>
            }
        </select>

    </div>
    <div class="mb-3">
        <label class="form-label">ProductName</label>
        <select name="ProductId" class="form-select">
            @foreach (var product in ViewBag.Product)
            {
                <option value="@product.Id">@product.Name</option>
            }
        </select>

    </div>
    <div class="mb-3">
        <label class="form-label">Model Name</label>
        <select name="ImageId" class="form-select">
            @foreach (var image in ViewBag.Image)
            {
                <option value="@image.Id">@image.ImageName</option>
            }
        </select>

    </div>
    @if (Model.Name == "Mobile" || Model.Name == "Tablet")
    {
        <div>
            <div class="mb-3">
                <label class="form-label" id="Display">Display :</label>
                <input type="text" class="form-control" name="Display" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Resolutions">Resolutions :</label>
                <input type="text" class="form-control" name="Resolutions" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="MainCamera">Main Camera :</label>
                <input type="text" class="form-control" name="Main Camera" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="SelfieCamera">Selfie Camera :</label>
                <input type="text" class="form-control" name="Selfie Camera" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Battery">Battery :</label>
                <input type="text" class="form-control" name="Battery" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Charging">Charging :</label>
                <input type="text" class="form-control" name="Charging" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Color">Color :</label>
                <input type="text" class="form-control" name="Color" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Price">Price :</label>
                <input type="text" class="form-control" name="Price" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="OtherProperty">Other Property :</label>
                <textarea class="form-control" placeholder="comment here" name="OtherProperty" style="height: 100px"></textarea>
            </div>
        </div>
    }
    else if (Model.Name == "Laptop")
    {
        <div>
            <div class="mb-3">
                <label class="form-label" id="Processor">Processor :</label>
                <input type="text" class="form-control" name="Processor" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Memory">Memory :</label>
                <input type="text" class="form-control" name="Memory" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Storage">Storage :</label>
                <input type="text" class="form-control" name="Storage" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Graphics">Graphics :</label>
                <input type="text" class="form-control" name="Graphics" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Resolutions">Resolutions :</label>
                <input type="text" class="form-control" name="Resolutions" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Display">Display :</label>
                <input type="text" class="form-control" name="Display" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Color">Color :</label>
                <input type="text" class="form-control" name="Color" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Price">Price :</label>
                <input type="text" class="form-control" name="Price" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="OtherProperty">Other Property :</label>
                <textarea class="form-control" placeholder="comment here" name="OtherProperty" style="height: 100px"></textarea>
            </div>
        </div>
    }
    else if (Model.Name == "Speaker" || Model.Name == "Smart Watch")
    {
        <div>
            <div class="mb-3">
                <label class="form-label" id="Model">Model :</label>
                <input type="text" class="form-control" name="Model" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Color">Color :</label>
                <input type="text" class="form-control" name="Color" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Price">Price :</label>
                <input type="text" class="form-control" name="Price" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="OtherProperty">Other Property :</label>
                <textarea class="form-control" placeholder="comment here" name="OtherProperty" style="height: 100px"></textarea>
            </div>

        </div>
    }
    else if (Model.Name == "PowerBank")
    {
        <div>
            <div class="mb-3">
                <label class="form-label" id="Model">Model :</label>
                <input type="text" class="form-control" name="Model" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="BatteryCapacity">Battery Capacity :</label>
                <input type="text" class="form-control" name="BatteryCapacity" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Input">Input :</label>
                <input type="text" class="form-control" name="Input" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Output">Output :</label>
                <input type="text" class="form-control" name="Output" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="MaxPowerOutput">Max Power Output :</label>
                <input type="text" class="form-control" name="MaxPowerOutput" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Color">Color :</label>
                <input type="text" class="form-control" name="Color" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Price">Price :</label>
                <input type="text" class="form-control" name="Price" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="OtherProperty">Other Property :</label>
                <textarea class="form-control" placeholder="comment here" name="OtherProperty" style="height: 100px"></textarea>
            </div>
        </div>
    }
    else if (Model.Name == "EarPhone" || Model.Name == "HeadPhone")
    {
        <div>
            <div class="mb-3">
                <label class="form-label" id="Model">Model :</label>
                <input type="text" class="form-control" name="Model" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="WearingType">Wearing Type :</label>
                <input type="text" class="form-control" name="WearingType" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Connectivity">Connectivity :</label>
                <input type="text" class="form-control" name="Connectivity" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="EarphoneJack">Earphone Jack :</label>
                <input type="text" class="form-control" name="EarphoneJack" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="FrequencyResponse">Frequency Response :</label>
                <input type="text" class="form-control" name="FrequencyResponse" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Sensitivity">Sensitivity :</label>
                <input type="text" class="form-control" name="Sensitivity" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Color">Color :</label>
                <input type="text" class="form-control" name="Color" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="Price">Price :</label>
                <input type="text" class="form-control" name="Price" placeholder="PLease Fill the Field!">
            </div>
            <div class="mb-3">
                <label class="form-label" id="OtherProperty">Other Property :</label>
                <textarea class="form-control" placeholder="comment here" name="OtherProperty" style="height: 100px"></textarea>
            </div>
        </div>
    }
    <div class="mb-3">
        <label class="form-label">StockCount</label>
        <input type="number" class="form-control" name="StockCount">
    </div>
    <input type="text" name="Description" id="DescriptionOutput" hidden/>
    <input type="submit" class="btn btn_primary" value="Entry" id="EntryBtn" />
</form>
    

<script>

    //$("#EntryBtn").on('click', function () {

    //    var Model = $("#Model").text() + "-" + $(".Model").val();
    //    var Display = $("#Display").text() + "-" + $(".Display").val();
    //    var Resolution = $("#Resolution").text() + "-" + $(".Resolution").val();
    //    var MainCamera = $("#MainCamera").text() + "-" + $(".MainCamera").val();
    //    var Battery = $("#Battery").text() + "-" + $(".Battery").val();
    //    var Charging = $("#Charging").text() + "-" + $(".Charging").val();
    //    var Stock = $(".Stock").val();
    //    var Description = Model + "," + Display + "," + Resolution + "," + MainCamera + "," + Battery + "," + Charging;
        

    //})
    $(document).ready(function () {
   

        // Example usage: Retrieving input values on button click
        $("#EntryBtn").click(function () {
            var Description = "";


            // Find the active container
            var activeContainer = $("div:visible"); // Assuming only one container is visible at a time

            // Iterate over inputs within the active container
            activeContainer.find("input, textarea").each(function () {
                var inputName = $(this).attr("name");
                if (typeof inputName !== 'undefined') { // Check if inputName is defined
                    var inputValue = $(this).val();
                    Description += inputName + "-" + inputValue + ",";
                }
            });
            $("#DescriptionOutput").val(Description)
           
        });
    });
</script>